name: Publish Package to npmjs

on:
  push:
    tags:
      - "[0-9]*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  VITE_SUPABASE_URL: ${{vars.SUPABASE_URL}}
  VITE_SUPABASE_KEY: ${{vars.SUPABASE_KEY}}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org
      - run: bun install --frozen-lockfile
      - run: bun run check
      - run: bun run test
      - run: bun run build
      - run: npm publish --access public --provenance
