# https://github.com/marketplace/actions/npm-publish
name: Publish Package to npmjs
on:
  release:
    types: [created]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# https://docs.npmjs.com/trusted-publishers#supported-cicd-providers
permissions:
  id-token: write  # Required for OIDC
  contents: read

env:
  VITE_SUPABASE_URL: ${{vars.SUPABASE_URL}}
  VITE_SUPABASE_KEY: ${{vars.SUPABASE_KEY}}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
      - run: npm ci
      - uses: biomejs/setup-biome@v2
        with:
          version: latest
      - run: biome ci
      - run: npm run types
      - run: npm run build
      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
